<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pustakam</title>

    <script src="https://kit.fontawesome.com/859e7ab76e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <link rel='stylesheet' href='css/authors.css'>
</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color fixed-top">

        <!-- Navbar brand -->
        <!-- <a class="navbar-brand" href="/home"><i class="fas fa-home"></i></a> -->
        <a class="navbar-brand" href="/home">Pustakam.Com</a>
      
        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
          aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">
      
          <!-- Links -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/authors">Authors
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/books">Books</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/books/addbook">Add Book</a>
            </li>
            <li class="nav-item active">
                  <a class="nav-link" href="/authors/addauthor">Add Author</a>
            </li>

    
      
          </ul>
          <!-- Links -->
      
          <form class="form-inline">
            <div class="md-form my-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
          </form>
        </div>
        <!-- Collapsible content -->
      
    </nav>
    <!--Navbar end-->
    

    <h1 class="display-2 bg-img text-white bg-overlay text-center">Authors</h1>

    <div class="container cards">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <ul class="event-list">

              <%for(let i=0;i<authors.length;i++){%>

            <li>
             
              <img class = "rounded-circle image" alt="" src="/images/<%=authors[i].image%>" />
              <div class="info rounded">
                <h2 class="title"><%=authors[i].title%></h2>
                <br>
                <button type="button" class="btn btn-info btn-sm"><a href="/authors/<%=authors[i]._id%>"> Read more</a></button>
              </div>
             
            </li>

            <%}%> 
  
          </ul>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
  





    <!-- Footer -->
    <footer class="page-footer font-small blue">

            <!-- Copyright -->
            <div class="footer-copyright text-center text-white py-3">© 2019 Copyright:
            <a href="/home"> Pustakam.com</a>
            </div>
            <!-- Copyright -->
        
    </footer>
    <!-- Footer end -->



</body>
</html>